requests
pandas
python-dotenv
beautifulsoup4
tweepy
transformers
torch
lxml
selenium
webdriver-manager
streamlit
plotly
wordcloud
openpyxl
xlsxwriter
streamlit-option-menu
streamlit-aggrid
streamlit-lottie
streamlit-ace
notion-client
matplotlib
seaborn
Pillow
stqdm
altair 